.container {
	/*font-family: 'Noto Sans TC', sans-serif;*/
	font-family: 'Noto Sans HK', sans-serif;
	/*margin-bottom: 120px;*/
}

.back_btn{
	margin: 5px;
}

.link{
	font-size: large;
}

.red-font{
	color: red;
}